
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
html, body{background:#f6f6fa;height:100%;font-size:12px;line-height:1.5;font-family:'Apple SD Gothic Neo','맑은고딕','Malgun Gothic','돋움',dotum,'Helvetica Neue',Helvetica,sans-serif ;color:#767676}
address,caption,cite,code,dfn,em,var {font-style: normal;font-weight: normal}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption {display: block;margin: 0;padding: 0}
dl, ul, ol, menu, li {list-style: none;}
a{color:#333;text-decoration:none}
a:active, a:hover{text-decoration:underline}
a:active{background-color:transparent}

body {
    background-image:url("./images/bg.gif");
    background-repeat: repeat;
}

.content {
    width: 1390px;
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: row;
}

.logoContent {
    width: 190px;
    background-image: url("./images/bg_header.gif");
    background-repeat: repeat;
    border-left: 1px solid #4d5669;
    border-right: 1px solid #4d5669;
    display: flex;
    flex-direction: column;
}

.logo {
    background-image: url("./images/logo.png");
    width: 131px;
    height: 50px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: flex;
}
.basicWebText {
    font-size: 19px;
    color: #d6d8dc;
    margin-top: 10px;
    display: flex;
    justify-content :center;
}
.mainBox {
    flex: 1;
    display: flex;
}
.box {
    flex: 1 300px;
    padding: 35px 25px;
    box-shadow: inset -5px 0 5px #282d36;
}
.boxTitle {
    line-height: 1.25em;
    font-size: 2em;
    font-weight: normal;
    color: #d6d8dc
}
.boxSubTitle {
    line-height: 1.5em;
    margin-top: 12px;
    margin-bottom: 40px;
    color: #febe1e
}
.boxExplain {
    height: 150px;
    color: #a7a7a7
}
.itemList {
    color: #fff;
    margin-bottom: 7px;
}
.newspeed {
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #868c98;
    color: #fff;
}
.list {
    display: flex;
    flex-direction: column;
}
.list > a {
    margin-bottom: 7px;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-between; 
}
.imgContent {
    display: flex;
    position: relative;
    flex-direction: column;
}
.imgContent > img {
    flex: 1;
    width: 250px;
    height: 141px;
    border: 3px solid #5c6475;
}
.screenShot {
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    position: absolute;
    background-color: #000;
    font-size: 12px;
    color: #c5c5c5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download {
    margin-top: 30px;
    border-top: 1px solid #868c98;
    border-bottom: 1px solid #868c98;
    font-size: 1.4em;
    color: #a7a7a7;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}
.footer {
    background-color: #282d36;
    height: 50px;
    border-top: 1px solid #3e424a;
    color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 798px){
    .content {
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .logoContent {
        background-image: none;
        height: 60px;
        width: 100%;
        background-color: #282d36;
        flex-direction: row;
        justify-content: flex-start;
    }
    .basicWebText {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .logo {
        margin: 5px 10px;
        width: 40px;
    }
    .mainBox {
        display: block;
        width: 100%
    }
    .box {
        width: auto;
        padding: 25px;
        box-shadow: inset 0 -5px 5px #282d36;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .boxSubTitle {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .boxExplain {
        height: auto;
    }
    .list {
        display: none;
    }
    .newspeed {
        display: none;
    }
    .imgContent {
        align-self: center;
    }
    body {
        height: auto;
    }
}